- if @ticket_groups.any?
  = form_for @ticket_groups,  url: mass_edit_ticket_groups_path, method: 'get' do |f|
    - @ticket_groups.each do |tg|
      %h1 Ticket Group #{tg.id}
      = f.fields_for :"#{tg.id}" do |tgf|
        = tgf.label :away_team
        = tgf.text_field :away_team
        %br
        = tgf.label :date
        .datetimepicker4.input-group.date
          = tgf.text_field :date
          %span.input-group-addon{style:'display:inline;padding:3px'}
            %span.glyphicon.glyphicon-calendar
        %br
        = tgf.label :notes
        = tgf.text_field :notes
    %br
    = f.submit 'add ticket groups'
