- if @ticket_groups.any?
  = bootstrap_form_for @ticket_groups,  url: mass_edit_ticket_groups_path, method: 'get', layout: :inline  do |f|
    - @ticket_groups.each do |tg|
      %h3 Ticket Group #{tg.id}
      = f.fields_for :"#{tg.id}" do |tgf|
        = tgf.text_field :away_team
        = tgf.label :date
        .datetimepicker4.input-group.date
          = tgf.text_field :date, hide_label: true
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
        = tgf.text_field :notes
    %br
    %br

    = f.submit 'add ticket groups'
