%div.jumbotron
  %div.container
    %h2
      = @ticket_group.home_team + " VS. " + @ticket_group.away_team
    %h3
      = "#{Date.parse(@ticket_group.date).strftime(" %b %d %Y")} @ #{@ticket_group.time}"
      = "(#{@ticket_group.venue})"
    %p
      Notes:
      = @ticket_group.notes
      = bootstrap_form_for @ticket_group,  url: ticket_group_path, method: 'put', layout: :inline do |f|
        = f.text_field :notes, hide_label: true
        = f.primary "add/update notes"

%h3
  Tickets
%table.table.table-hover.table-responsive
  %thead
    %th Section
    %th Row
    %th Seat
    %th Face Value
    %th Sale Price
    %th Notes
    %th Use Type
    %th User
    %th

  %tbody
    - @ticket_group.tickets.order(seat: :asc).each do |ticket|
      %tr
        %td= ticket.section
        %td= ticket.row
        %td= ticket.seat
        %td= "$#{ticket.face_value.to_f}"
        %td= ticket.sale_price == nil ? "" : "$#{ticket.sale_price.to_f}"
        %td= ticket.notes
        %td= ticket.use_type
        %td= ticket.user
        %td=link_to("Edit This Ticket", edit_ticket_path(ticket.id))

