
/ Modal
#approvalModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "approvalModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4.modal-title Create Ticket Groups
      .modal-body
        = bootstrap_form_for(@new_ticket_group, url: "/ticket_groups", method: "post",  layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-7") do |f|
          = f.select :sport, options_for_select(TicketGroup.sports)
          = f.text_field :home_team
          = f.text_field :venue
          = f.form_group :time, label: { text: "Time" } do
            #datetimepicker3.input-group.date
              = f.text_field :time, hide_label: true
              %span.input-group-addon
                %span.glyphicon.glyphicon-time
          = f.select :num_tgs, options_for_select(1..40), label: "How Many Ticket Groups are you adding?"
          = f.fields_for @new_ticket do |t|
            = t.label "Ticket Information"
            = t.text_field :section
            = t.text_field :row
            = t.text_field :face_value
            = t.label :seat_numbers, "Seat Numbers"
            = t.select :seat_numbers_start, options_for_select(1..40), label: "First Seat"
            = t.select :seat_numbers_end, options_for_select(1..40), label: "Last Seat"
          %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Cancel
          = f.submit 'Create Tickets', class: 'btn btn-success', id: 'modal-submit-button'
    / /.modal-content
  / /.modal-dialog
/ /.modal
